/* {
    CSS code
    }*/
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(252, 252, 252);
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%); /* Center the heading horizontally */
  letter-spacing: 0.1em;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
}
nav {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 475px;
  height: 50px;
  background-color: #222;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}

/* The span element will be used to create the sliding effect */
nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 100%;
  background: linear-gradient(45deg, #049de4e1, #000000);
  border-radius: 10px;
  transition: 0.5s;
}

nav a:nth-child(1):hover ~ span {
  left: 0;
}
nav a:nth-child(2):hover ~ span {
  left: 95px;
}
nav a:nth-child(3):hover ~ span {
  left: 190px;
}
nav a:nth-child(4):hover ~ span {
  left: 285px;
}
nav a:nth-child(5):hover ~ span {
  left: 380px;
}

nav[name="second"] {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 356px;
  height: 50px;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav[name="second"] a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}

nav[name="second"] span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(45deg, #04e422e1, #000000);
  border-radius: 10px;
  transition: 0.5s;
}
nav[name="second"] a:nth-child(1):hover ~ span {
  left: 0;
}
nav[name="second"] a:nth-child(2):hover ~ span {
  left: 95px;
}
nav[name="second"] a:nth-child(3):hover ~ span {
  left: 180px;
}
nav[name="second"] a:nth-child(4):hover ~ span {
  left: 285px;
}

.navbar {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 50px;
  background-color: #222;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  position: relative;
  display: block;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  z-index: 1;
}

.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}
